<mat-card>
    <mat-card-title>{{isInEditMode ? 'Update Todo' : 'Add Todo'}}</mat-card-title>
    <mat-card-content>
        <form #todoForm="ngForm" (ngSubmit)="onSubmitTodo()">
            <div class="form-group">
                <label for="todoItem">TodoItem</label>
                <input
                name="todoItem"
                ngModel 
                #todoItem="ngModel" 
                required 
                type="text" class="form-control">
                <strong *ngIf="(todoItem.touched || todoForm.submitted) && todoItem.invalid" class="text-danger">
                    TodoITem field is required
                </strong>
            </div>

            <div class="form-group">
                <label for="isCompleted">IsCompleted</label>
                <select
                ngModel
                 name="isCompleted"
                 #isCompleted="ngModel"
                 required
                 class="form-control">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
                <strong *ngIf="(isCompleted.touched || todoForm.submitted) && isCompleted.invalid" class="text-danger">
                    IsCompleted field is required
                </strong>
            </div>

            <button type="submit" *ngIf="!isInEditMode" class mat-raised-button color="accent" class="w-100">Add Todo</button>
            <button
            (click)="onUpdateTodo()"
             type="button" *ngIf="isInEditMode" mat-raised-button color="accent" class="w-100">Update Todo</button>
        </form>
    </mat-card-content>
</mat-card>